# configuration for gws tester

HOST = 'iam-ws.u.washington.edu'
#HOST = 'iam21.s.uw.edu'
CERT_FILE = '/some_path/some_file.crt'
KEY_FILE = '/some_path/some_file.key'
CA_FILE = '/some_path/some_file = True

GWS_BASE = 'https://' + HOST + '/group_sws/v3'
GROUP_BASE = 'u_fox_jsontests'

SCHEMAS = {
 'group': 'urn:mace:washington.edu:schemas:groups:1.0:group',
 'member': 'urn:mace:washington.edu:schemas:groups:1.0:member',
 'affiliate': 'urn:mace:washington.edu:schemas:groups:1.0:affiliate',
 'history': 'urn:mace:washington.edu:schemas:groups:1.0:history',
 'search': 'urn:mace:washington.edu:schemas:groups:1.0:search'
}

# test group 1 definition

testgroup1 = {
  "id": "u_fox_jsontests_gwstest1",
  "displayName": "Fox's json autotest group 1",
  "description": "This is a general purpose group for testing various Group Service functionality.",
  "contact": "fox",
  "authnfactor": "1",
  "classification": "u",
  "dependson": "uw_employee",
  "admins": [
    {
      "type": "dns",
      "id": "gws.cac.washington.edu"
    },
    {
      "type": "uwnetid",
      "id": "fox"
    }
  ],
  "updaters": [
    {
      "type": "eppn",
      "id": "fox.1949@gmail.com"
    }
  ]
}

testgroup2 = {
  "id": "u_fox_jsontests_gwstest2",
  "displayName": "Fox's json autotest group 2",
  "description": "This is a general purpose group for testing various Group Service functionality.",
  "contact": "fox",
  "authnfactor": "1",
  "classification": "u",
  "admins": [
    {
      "type": "dns",
      "id": "gws.cac.washington.edu"
    },
    {
      "type": "uwnetid",
      "id": "fox"
    }
  ]
}


members1 = [
 {"type":"uwnetid", "id":"fox"},
 {"type":"dns", "id":"gws.cac.washington.edu"},
 {"type":"group", "id":"u_fox"}
]

members2 = [
 {"type":"uwnetid", "id":"joeuser"},
 {"type":"uwnetid", "id":"lisas22g"}
]

google_affiliate_1 = {
 "name": "google",
 "status": "active",
 "senders": []
}
google_affiliate_2 = {
 "name": "google",
 "status": "active",
 "senders": ["member"]
}
google_affiliate_9 = {
 "name": "google",
 "status": "inactive",
 "senders": []
}

email_affiliate_1 = {
 "name": "email",
 "status": "active",
 "senders": []
}
email_affiliate_2 = {
 "name": "email",
 "status": "active",
 "senders": ["dc=all"]
}
email_affiliate_9 = {
 "name": "email",
 "status": "inactive",
 "senders": []
}
